.page {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  font-family:fantasy;
  height: 100vh;
  width: 100vw
}

ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height:400px
}
.order {

  margin: 30px;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
}

#order-title {
  font-size: 25px;
}

.menu {
  margin: 20px;
  color: rgb(205, 126, 0);
  min-width: 50%;
  max-width: 60%;
}

li {
  margin: 10px;
  list-style: none;
}

button {
  border-style: none;
  background-color: rgb(205, 126, 0);
  color: white;
  width: 60px;
  height: 30px
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  max-width: 300px;
}
